* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.para {
    font-family: 'mr';
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 30px;
    text-align: justify;
}

.header {
    position: fixed;
    z-index: 400;
    width: 100%;
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

}

.header .logo img {
    width: 110px;
}

.header .menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.header .menu ul li:hover{
    background: #ffcc01;
    border-radius: 10px;
}

.header .menu ul {
    display: flex;
    list-style-type: none;

}

.header .menu ul a {
    font-family: 'mr';
    text-decoration: none;
    display: flex;
    padding: 20px;
    color: #000;
}

.header .right {
    display: flex;
}

.header .right a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    color: #000;
    font-family: 'mr';
}

.header .right .btn-joinus:hover,
.header .right .btn-gettingstarted:hover{
    background-color: #ffcc01;
    border-radius: 10px;
}

.main {}

.main .background {
    position: relative;
    overflow: hidden;
}

.main .background>img {
    width: 100%;
    height: 100vh;
}

.main .background:hover > img{
	-webkit-transform: scale(-1.5);
	transform: scale(1.3);
}

.main .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.main .modern .container .text-box {
    position: absolute;
    top: 0;
    margin-left: auto;
}

.main .modern .container .text-box {
    margin-top: 160px;
    font-family: 'mb';
    font-size: 40px;
    margin-bottom: 63px;
}

.main .modern .container .search {
    position: absolute;
    top: 220px;
    height: 72px;
}

.main .modern .container .search img {
    position: absolute;
    width: 56px;
    padding: 27px 18px;
    margin-left: 10px;
}

.main .modern .container .search input {
    width: 356px;
    height: 72px;
    padding: 0 60px;
    border-radius: 10px 0 0 10px;
    border: 0px;
    font-size: 15px;
    outline: none;
}

.main .modern .container .btn-search {
    display: inline-flex;
    text-decoration: none;
    margin-left: -4px;
    font-size: 15px;
    width: 115px;
    height: 72px;
    background-color: #ffcc01;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'mm';
    border-radius: 0 10px 10px 0;
}

.main .modern .container .search input:hover {
    border: 1px solid red;
}

.main .company .container {
    display: flex;
    height: 580px;
}

.main .company .container .text-box {
    max-width: 540px;
}

.main .touch .container .text-box .heading,
.main .meet .container .text-box .heading,
.main .service .container .text-box .heading,
.main .work .container .text-box .heading,
.main .apartment .container .text-box .heading,
.main .company .container .text-box .heading {
    padding-top: 90px;
    font-family: 'mb';
    font-size: 40px;

}

.main .apartment .container .text-box .heading,
.main .company .container .text-box .heading {
    margin-bottom: 70px;
}

.main .meet .container .text-box .para,
.main .service .container .text-box .para,
.main .work .container .text-box .para,
.main .company .container .text-box .para {
    margin-bottom: 50px;
}

.main .company .container .statistic-list {
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.main .company .container .statistic-list .item {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f4;
    margin: 0 31px 31px 0;
}

.main .company .container .statistic-list .item:hover span,
.main .company .container .statistic-list .item:hover{
    color: #000;
    background-color: #ffcc01;
}

.main .company .container .statistic-list .item span {
    font-size: 40px;
    color: #ffcc01;
    font-family: 'msb';
}

.main .meet,
.main .apartment {
    background: #f6f5f4;
}

.main .meet .container .meet-list,
.main .apartment .container .apartment-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .meet .container .meet-list .item,
.main .apartment .container .apartment-list .item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    cursor: grab;
    overflow-wrap:initial;
}

.main .apartment .container .apartment-list .item:hover{
    transform:scale(1.1);
}

.main .meet .container .meet-list .item>img,
.main .apartment .container .apartment-list .item >img {
    max-width: 350px;
    height: 380px;
}


.main .meet .container .meet-list .item .info,
.main .apartment .container .apartment-list .item .info {
    padding: 20px;
}

.main .meet .container .meet-list .item .info .para,
.main .apartment .container .apartment-list .item .info .para {
    font-family: 'msb';
    font-size: 15px;
    line-height: 20px;
}

.main .meet .container .meet-list .item .info .name,
.main .apartment .container .apartment-list .item .info .price {
    display: flex;
    margin-top: 30px;
}

.main .meet .container .meet-list .item .info .name>span,
.main .apartment .container .apartment-list .item .info .price>span {
    font-family: 'msb';
    color: #ffcc01;
    font-size: 18px;
}

.main .apartment .container .apartment-list .item .info .service {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    opacity: 30%;
    font-size: 15px;
}

.main .apartment .container .apartment-list .item .info .service .bathroom {
    display: flex;
    padding-right: 20px;
}

.main .apartment .container .apartment-list .item .info .service .bedroom {
    display: flex;
}

.main .apartment .container .apartment-list .item .info .service .bedroom .bed,
.main .apartment .container .apartment-list .item .info .service .bathroom .shower {
    margin-right: 10px;
    width: 13px;
}

.main .apartment .container .btn-apartment {
    margin-top: 50px;
    padding-bottom: 75px;
    width: 100%;
    text-align: center;
}

.main .apartment .container .btn-apartment .btn-apartment-white {
    padding: 30px 50px;
    background-color: #ffffff;
    font-size: 15px;
    font-family: 'mr';
    text-decoration: none;
    color: #000;
}

.main .apartment .container .btn-apartment .btn-apartment-white:hover{
    background: #ffcc01;
    color: #000;
}

.main .touch .container .text-box .heading,
.main .meet .container .text-box .heading,
.main .service .container .text-box .heading,
.main .work .container .text-box .heading {
    margin-bottom: 40px;
}

.main .meet .container .text-box .para,
.main .service .container .text-box .para,
.main .work .container .text-box .para {
    max-width: 350px;
    line-height: 30px;
    letter-spacing: -0.5px;
}

.main .work .container .work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .work .container .work-list .item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 345px;
    height: 375px;
    padding: 20px 60px 50px 40px;
    margin-bottom: 30px;
}

.main .work .container .work-list .item:hover {
    background: #ffcc01;
    color: #ffffff;
}

.main .work .container .work-list span {
    font-family: 'mb';
    font-size: 100px;
}

.main .work .container .work-list .title {
    font-size: 18px;
    font-family: 'msb';
}

.main .work .container .work-list .para {
    padding: 35px 0 30px 25px;
    line-height: 25px;
    font-family: 'mr';
    font-size: 13px;
}

.main .work .container .work-list a {
    margin-left: 25px;
    font-family: 'msb';
    font-size: 13px;
    color: #000;
    text-decoration: none;
    box-shadow: 0 3px #000;
    padding-bottom: 15px;
}

.main .work .container .work-list .item:hover .btn-black {
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 3px #ffffff;
    padding-bottom: 15px;
}

.main .service .container .service-content {
    display: flex;
}

.main .service .container .service-content .picture img {
    max-width: 540px;
    height: 630px;
    margin-right: 120px;
}


.main .service .container .service-content .content-list .item {
    margin-bottom: 100px;
}

.main .service .container .service-content .content-list .buiding {
    margin-top: -40px;
}

.main .super .container .super-list .content .heading,
.main .service .container .service-content .content-list .item .heading {
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'msb';
}

.main .meet .container .meet-list .item .info .name {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.main .meet {
    padding-bottom: 75px;
}

.main .meet .container .meet-list .item .info .name span {
    font-size: 15px;
}

.main .meet .container .meet-list .item .info .name .social-media {
    display: contents;
}

.main .meet .container .meet-list .item .info .name .social-media i {
    place-self: center;
}

.main .meet .container .meet-list .item .info .name .social-media img {
    width: 15px;
}

.main .super {
    padding-top: 90px;
}

.main .super .container .super-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.main .super .container .super-list .info {
    position: relative;
    max-width: 540px;
    height: 330px;
    cursor: grab;
}

.main .super .container .super-list .info>img {
    max-width: 540px;
    height: 330px;
}

.main .super .container .super-list .info .location {
    position: absolute;
    bottom: -15%;
    left: 30px;
    padding: 30px 0;
    width: 330px;
    background: #ffcc01;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .super .container .super-list .info .location img {
    width: 20px;
}

.main .super .container .super-list .info .location>a {
    padding-left: 20px;
    text-decoration: none;
    color: #000;
    font-family: 'msb';
    font-size: 18px;
}

.main .super .container .super-list .info .second {
    left: 180px;
}

.main .super .container .super-list .content {
    max-width: 440px;
    align-self: center;
}

.main .super .container .super-list .content .para {
    margin-bottom: 60px;
}

.main .super .container .super-list .content a {
    padding: 30px 50px;
    background: #1f373d;
    color: #ffffff;
    text-decoration: none;
    font-family: 'msb';
}

.main .touch {
    display: flex;
    background: #f6f5f4;
}

.main .touch .form .text-box {
    width: 460px;
}

.main .touch .form .text-box > .para {
    max-width: 360px;
    margin-bottom: 40px;
}

.main .touch .form .text-box .email,
.main .touch .form .text-box .name {
    outline: none;
    display: flex;
    border: 0px;
    box-shadow: 0 2px #ccc;
    padding: 5px;
    margin-bottom: 30px;
    width: 100%;
    ;
    background: #f6f5f4;
    padding-left: 1px;
    font-family: 'mr';
}

.main .touch .form .text-box .phone-contries {
    outline: none;
    position: relative;
    box-shadow: 0 2px #ccc;
    padding: 5px;
}

.main .touch .form .text-box .phone-contries input,
.main .touch .form .text-box .phone-contries select {
    outline: none;
    font-family: 'mr';
    border: 0px;
    background-color: #f6f5f4;
    height: 30px;
}

.main .touch .form .text-box .phone-contries select {
    width: 40px;
    margin-left: -8px;
    opacity: 50%;
}

.main .touch .form .text-box .phone-contries input {
    position: absolute;
    width: 90%;
    padding-left: 20px;
}

.main .touch .form .text-box .text-box {
    outline: none;
    font-family: 'mr';
    margin-top: 30px;
    height: 140px;
    border: 0px;
    box-shadow: 0 2px #ccc;
    padding: 5px 0 100px;
    background: #f6f5f4;
}

.main .touch .form .text-box .para-bold {
    font-family: 'msb';
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.main .touch .form .text-box .check-radio {
    display: flex;
}

.main .touch .form .text-box .check-box .item input,
.main .touch .form .text-box .check-radio .item input {
    margin-right: 5px;
}

.main .touch .form .text-box .check-box .item label,
.main .touch .form .text-box .check-radio .item label {
    font-family: 'mr';
    font-size: 13px;
    margin-right: 60px;
    opacity: 50%;
}

.main .touch .form .text-box .check-box{
    margin-bottom: 40px;
}

.main .touch .form .text-box .check-box .item {
    margin-top: 10px;
}

.main .touch .form .text-box .send {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    background: #1f373d;
    color: #ffffff;
    text-decoration: none;
    font-family: 'msb';
}

.main .super .container .super-list .content a:hover,
.main .touch .form .text-box .send:hover{
    background: #ffcc01;
    color: #000;
} 

.main .touch .picture {
    width: 45%;
    height: 1000px;
}

.main .touch .picture img {
    width: 100%;
    padding-left: 7%;
    height: 1000px;
}

.footer {
    background: #1f373d;
    color: #ffffff;
}

.footer .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 540px;
}

.footer .container .text-box {
    display: flex;
    justify-content: space-between;
}

.footer .container .text-box{
    box-shadow: 0 2px #ccc;
    padding: 0 0 60px 0;
}
.footer .container .text-box .heading {
    padding-top: 70px;
    font-family: 'msb';
    font-size: 40px;
}

.footer .container .text-box .btn-subscribe{
    align-self: center;
    padding-top: 70px;
    position: relative;
}

.footer .container .text-box .btn-subscribe input{
    font-family: 'mr';
    padding: 0 0 0 20px;
    width: 480px;
    height: 70px;
    outline: none;
}

.footer .container .text-box .btn-subscribe img{
    position: absolute;
    width: 30px;
    left: 410px;
    bottom: 29px;
}

.footer .container .bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.footer .container .bottom .logo img{
    width: 110px;
    margin-bottom: 70px;
}

.footer .container .bottom .menu-list{
    display: flex;
}

.footer .container .bottom .menu-list .item{
    font-family: 'mr';
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.footer .container .bottom .menu-list .item span{
    margin-bottom: 40px;
    font-size: 13px;
    opacity: 50%;
}

.footer .container .bottom .menu-list .item a{
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}
